/* ---------------------------------lo demas ------------------------------- */
.container {
	max-width: 430px;
	margin: 4rem auto;
	padding: 2rem;

	background: linear-gradient(180deg,
			var(--parchment-light),
			var(--parchment));

	border: 2px solid var(--parchment-dark);
	border-radius: 12px;

	box-shadow: var(--shadow);
}

.title {
	margin: 0 0 2rem;
	text-align: center;
	font-family: var(--font-heading);
	font-size: 2rem;
	font-weight: normal;
	color: var(--green-dark);
}