.image {
	width: 255px;
	height: 255px;
	object-fit: cover;
	border-radius: 12px;
	border: 2px solid rgba(255, 255, 255, .4);
}

.header {
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
	border-bottom:
		1px solid rgba(33, 76, 61, 0.15);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.section {
	margin-top: 2rem;
}

.section p {
	line-height: 1.7;
	color: var(--verde-claro);
}

.map {
	border: 0;
	width: 100%;
	height: 300px;
}




.backgroundPrimary {
	background:
		linear-gradient(to bottom,
			rgba(70, 140, 100, 0.28),
			rgba(55, 115, 80, 0.22)) !important;
	border:
		1px solid rgba(50, 100, 70, 0.25) !important;
}

.backgroundSecondary {
	background:
		linear-gradient(to bottom,
			rgba(120, 95, 170, 0.24),
			rgba(95, 75, 145, 0.18)) !important;
	border:
		1px solid rgba(90, 70, 130, 0.2) !important;
}

.backgroundDanger {
	background:
		linear-gradient(to bottom,
			rgba(180, 70, 70, 0.26),
			rgba(150, 55, 55, 0.2)) !important;
	border:
		1px solid rgba(120, 40, 40, 0.22) !important;
}