.card {
	padding: 0.8rem;
	border-radius: 18px;
	background: linear-gradient(to bottom, #f8efdd, #ead8b8);
	border: 1px solid #cfb894;

	box-shadow: 0 3px 10px rgba(0, 0, 0, .08);

	transition:
		transform .15s,
		box-shadow .2s;
}

.card:hover {
	transform: translateY(-2px);

	box-shadow:
		0 6px 18px rgba(0, 0, 0, .12);
}

.image {
	display: flex;
	object-fit: cover;
	/* border-radius: 12px; */
	/* border: 2px solid rgba(255, 255, 255, 0.4); */
	height: 7rem;
	margin: 0;
}

.estadoPublicada {
	background:
		linear-gradient(to bottom,
			rgba(70, 140, 100, 0.28),
			rgba(55, 115, 80, 0.22)) !important;
	border:
		1px solid rgba(50, 100, 70, 0.25) !important;
}

.estadoAnulada {
	background:
		linear-gradient(to bottom,
			rgba(180, 70, 70, 0.26),
			rgba(150, 55, 55, 0.2)) !important;
	border:
		1px solid rgba(120, 40, 40, 0.22) !important;
}

.estadoDesignada {
	background:
		linear-gradient(to bottom,
			rgba(120, 95, 170, 0.24),
			rgba(95, 75, 145, 0.18)) !important;
	border:
		1px solid rgba(90, 70, 130, 0.2) !important;
}