@font-face {
	font-family: "Albertus";
	src: url("/fonts/albertusmt.otf") format("opentype");
}

.sectionHeading {
	display: block;
	font-family: "Albertus", serif;
	text-transform: uppercase;
	/* text-align: center; */
	margin-bottom: 0.66rem;
	color: #214c3d;
}

.upper {
	display: block;
	font-size: 0.75rem;
	font-weight: 100;
	letter-spacing: 2px;
	color: #2e6e56;
	/* padding: 2rem; */
}

.lower {
	display: block;
	font-size: 1.75rem;
	font-weight: 800;
	/* line-height: 1.1; */
	padding: 1.1rem;
}