.header {

	display: flex;
	align-items: center;
	gap: .45rem;

	margin-bottom: .4rem;

}

.header strong {

	display: flex;
	align-items: center;
	gap: .45rem;

	font-family: "Albertus", serif;
	color: #214c3d;

}