.navbar {
	padding: 0.6rem 1.5rem;
	background: linear-gradient(90deg, var(--verde-oscuro), var(--verde), var(--verde-claro));
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);

	box-shadow:
		0 2px 10px rgba(0, 0, 0, 0.18);
}

@media (max-width: 820px) {

	.navbar {
		padding: 0.8rem;
		justify-content: center !important;
	}

}