.sectionHeading {
	display: block;
	font-family: var(--font-heading);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0.77rem;
	color: var(--verde);
}

.upper {
	display: block;
	font-size: 1rem;
	font-weight: 200;
	letter-spacing: 3px;
	padding-bottom: 0.7rem;
	text-shadow: -1px -1px 1px;
}

.lower {
	display: block;
	font-size: 3rem;
	font-weight: 800;
	/* line-height: 1.1; */
	padding-bottom: 1.1rem;
	/* color: red; */
	text-shadow: -2px -2px 2px;
}