@font-face {
	font-family: "Albertus";
	src: url("/fonts/albertusmt.otf") format("opentype");
}

.sectionHeading {
	display: block;
	font-family: "Albertus", serif;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0.77rem;
	color: var(--green-main);
}

.upper {
	display: block;
	font-size: 1rem;
	font-weight: 200;
	letter-spacing: 3px;
	color: #2e6e56;
	padding-bottom: 0.7rem;
}

.lower {
	display: block;
	font-size: 3rem;
	font-weight: 800;
	/* line-height: 1.1; */
	padding-bottom: 1.1rem;
}