@font-face {
	font-family: "Albertus";
	src: url("/fonts/albertusmt.otf") format("opentype");
}

:root {

	--green-dark: #18392d;
	--green-main: #214c3d;
	--green-soft: #2f6a55;

	--parchment: #f5ecd9;
	--parchment-light: #f8f3e8;
	--parchment-dark: #dbc8a0;

	--text-dark: #2d2418;
	--text-soft: #5b5145;

	--shadow:
		0 4px 12px rgba(0, 0, 0, 0.08);

	--font-body:
		system-ui,
		Segoe UI,
		sans-serif;

	--font-heading:
		"Albertus",
		serif;
}

* {
	box-sizing: border-box;
}

html,
body,
#root {
	margin: 0;
	min-height: 100vh;
}

body {
	font-family: var(--font-body);

	color: var(--text-dark);

	background:
		linear-gradient(180deg,
			#1b2f28,
			#243d33);
}